{% extends "layout.html" %}


{% block body %}
  <div class="container text-center mt-5">
    <div class="row align-items-start">
      <div class="col">
        <div class="container">
          {% for heading in top_geo %}              
            <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
              <div class="card-header">Geo News</div>
              <div class="card-body">                
                <p class="card-text">{{heading}}.</p>
              </div>
            </div>
          {%endfor%}
        </div>
      </div>
        <div class="col">
          <div class="container">
            {% for heading in top_express %}      
              <div class="card text-bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header">Express News</div>
                <div class="card-body">                
                  <p class="card-text">{{heading}}.</p>
                </div>
              </div>
            {%endfor%}
          </div>
        </div>
        <div class="col">
          <div class="container">
            {% for heading in top_smaa %}              
    
              <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">Smaa News</div>
                <div class="card-body">                
                  <p class="card-text">{{heading}}.</p>
                </div>
              </div>
            {%endfor%}
    </div>
  </div>
          
{% endblock %}